{% extends 'main_app.html' %}
{% load static %}
{% block title %}{{course.name}}{% endblock %}

{% block content %}
<main id="main">
        {% include 'header.html' %}
        <main id="main__body">
            <article class="coorporate__slide__art">
                <section class="cooperate__slide__items"
                         style="background: url({% static 'assets/images/about-banner.jpg'%});">
                    <div class="container cooperate__slide__banner">
                        <h2 class="animates">{{course.name}}</h2>
                        <ul>
                            <li><a href="{% url 'app:home' %}">Home</a>
                            </li>
                            <li>/</li>
                            <li><a href="">Course</a></li>
                            <li>/</li>
                            <li>{{course.name}}</li>
                        </ul>
                    </div>
                </section>
            </article>
            <article class="coorporate__training__info">
                <section class="coorporate__training__info__contact container">
                    <div class="coorporate__training__contact__form__div__touch">
                        <img src="{{course.dp.url}}" alt="" class="course__dp__img">
                        <div>
                            {{course.description |safe }}
                        </div>
                        <section class="course__benefits">
                            <h2>Benefits of taking the course</h2>
                            <ul>
                                {%for b in course.benefits.all%}
                                <li>{{b.content}}</li>
                                {%endfor%}
                            </ul>
                        </section>
                        <section class="course__benefits">
                            <h2>Pre-Requisites:</h2>
                            <ul>
                                {%for p in course.pre_requisites.all%}
                                <li>{{p.content}}</li>
                                {%endfor%}
                            </ul>
                        </section>
                        <section class="course__benefits">
                            <h2>Course type</h2>
                            <p>{{course.course_type}}</p>
                            <a href="{% url 'course_reg:course_registration' %}" class="register__btn">Apply now</a>
                            <p>Currently we offer customized training in the following frameworks and tools:</p>
                        </section>
                    </div>
                    <div class="coorporate__training__contact__us__div">
                        <div>
                            <h4>Price:</h4>
                            <p>$ {{course.price}} CAD</p>
                            <a href="{% url 'course_reg:make_payment' %}" class="register__btn__2">Make payment</a>
                        </div>
                        <div>
                            <h4>Course duration</h4>
                            <p>{{course.course_duration}}</p>
                        </div>
                        <div>
                            <h4>Next start</h4>
                            <p>{{course.next_start_date}}</p>
                        </div>
                        <div>
                            <h4>contact us</h4>
                            <p>Don’t hesitate to contact with us for more information</p>
                            <ul>
                                <li><span><i class="fa fa-phone" aria-hidden="true"></i></span> <a href="tel:+12896522631">+1 289 652 2631</a>
                                </li>
                                <li><span><i class="fa fa-globe" aria-hidden="true"></i></span>77 City Centre Drive, East Tower, Suite 501,Mississauga, ON L5B 1M5</li>
                                <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="mailto:info@globalstride.net">info@globalstride.net</a>
                                </li>
                            </ul>
                            <section class="cooperate__training__social__list">
                                <a href=" " class="cooperate__training__social__link"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
                                <a href=" " class="cooperate__training__social__link"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href=" " class="cooperate__training__social__link"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                            </section>
                        </div>
                    </div>
                </section>
            </article>
        </main>
        {% include 'footer.html' %}
    </main>
{% endblock %}

