{% extends 'main_app.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}

{% block content %}
<main id="main">
        {% include 'header.html' %}
            <main id="main__body">
            <article class="coorporate__slide__art">
                <section class="cooperate__slide__items"
                         style="background: url({% static 'assets/images/about-banner.jpg'%});">
                    <div class="container cooperate__slide__banner">
                        <h2 class="animates">gallery</h2>
                        <ul>
                            <li><a href="{% url 'app:home' %}">Home</a>
                            </li>
                            <li>/</li>
                            <li>gallery</li>
                        </ul>
                    </div>
                </section>
            </article>
            {% if images %}
            <article class="our__gallery__info">
                {%for image in images%}
                <div class="gallery__img__item__div">
                    <img src="{{image.image.url}}" alt="" class="gallery__img">
                </div>
                {%endfor%}
            </article>
            {%else%}
            {%endif%}
        </main>
        {% include 'footer.html' %}
    </main>
{% endblock %}

