{% load static %}
{% load cache %}
<header id="main__header">
            <article class="main__header__top container">
                <div class="main__header__top__div">
                    <section class="main__header__top__left">
                        <span class="hm__main__header__top__address">
                            <i class="fas fa-map-marker-alt"></i>
                                <span>Awka Nigeria.</span>
                        </span>
                        <span class="hm__main__header__top__email">
                            <i class="fas fa-send"></i>
                                <span>leoklems@aol.com</span>
                        </span>
                    </section>
                    <section class="main__header__top__right">
                        <div id="hm__main__header__top__socials__div">
                            <a class="hm__top__socials__item" href=""><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
                            <a class="hm__top__socials__item" href=""><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            <a class="hm__top__socials__item" href=""><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                            <a class="hm__top__socials__item" href=""><i class="fab fa-github" aria-hidden="true"></i></a>
                        </div>
                    </section>
                </div>
            </article>
            <article class="main__header__middle container">
                <div class="main__header__top__div">
                    <a href="{% url 'app:home' %}" class="logo__link"><img class="logo" src="{% static 'assets/images/logo.png'%}" alt=""></a>
                    <section class="main__topbar__info__area">
                        <a href="" class="main__topbar__info">
                            <i class="fas fa-envelope"></i>
                            <div>
                                <h6>Email Us</h6>
                                <section>email@email.com</section>
                            </div>
                        </a>
                        <a href="" class="main__topbar__info middle__phone">
                            <i class="fas fa-map-marker-alt"></i>
                            <div>
                                <h6>Call Us</h6>
                                <section>090767656544</section>
                            </div>
                        </a>
                        <a href="" class="main__topbar__info__btn">get a quote</a>
                    </section>
                </div>
            </article>
            <article class="main__header__nav">
                <div class="main__menu__btn__div"><a href="" id="main__menu__btn" class="main__menu__btn"><i class="fas fa-list"></i></a></div>

                <nav class="main__menu">
                    <ul id="main__nav__list">
                        <li class="main__nav__list__item">
                            <a href="{% url 'app:home' %}" class="hm__nav__item__link">home</a>
                        </li>
                        <li class="main__nav__list__item">
                            <a href="{% url 'app:corporate_training' %}" class="hm__nav__item__link">courses</a>
                        </li>
                        <li class="main__nav__list__item">
                            <a href="{% url 'app:home' %}" class="hm__nav__item__link" id="hm__nav__courses">corporate training</a>
                        </li>
                        <li class="main__nav__list__item">
                            <a href="{% url 'app:home' %}" class="hm__nav__item__link" id="hm__nav__aboutus">gallary</a>
                        </li>
                        <li id="main__nav__list__item">
                            <a href="{% url 'app:home' %}" id="hm__nav__item__link">about us</a>
                        </li>
                        <li class="main__nav__list__item">
                            <a href="{% url 'app:corporate_training' %}" class="hm__nav__item__link">cntact us</a>
                        </li>
                        <li class="main__nav__list__item">
                            <a href="{% url 'app:corporate_training' %}" class="hm__nav__item__link">placement</a>
                        </li>
                        <li class="main__nav__list__item">
                            <a href="{% url 'app:corporate_training' %}" class="hm__nav__item__link" id="hm__nav__courses">our instructors</a>
                        </li>
                        <li class="main__nav__list__item">
                            <a href="{% url 'app:corporate_training' %}" class="hm__nav__item__link" id="hm__nav__aboutus">learn cours online</a>
                        </li>
                        <li id="main__nav__list__item">
                            <a href="{% url 'app:corporate_training' %}" class="hm__nav__item__link">refere a friend</a>
                        </li>
                    </ul>
                </nav>
            </article>
        </header>