{% extends 'main_app.html' %}
{% load static %}
{% block title %}{{course.name}}{% endblock %}

{% block content %}
<main id="main">
        {% include 'header.html' %}
        <main id="main__body">
            <article class="coorporate__slide__art">
                <section class="cooperate__slide__items"
                         style="background: url({% static 'assets/images/about-banner.jpg'%});">
                    <div class="container cooperate__slide__banner">
                        <h2 class="animates">Checkout</h2>
                        <ul>
                            <li><a href="{% url 'app:home' %}">Home</a>
                            </li>
                            <li>/</li>
                            <li>Course</li>
                            <li>/</li>
                            <li>Checkout</li>
                        </ul>
                    </div>
                </section>
            </article>
            <article class="coorporate__training__info">
                <section class="checkout__review__section container">
                    <div class="course__reg">
                        <h3 class="order__review__heading">Your order</h3>
                        <div class="order__review">
                            <table class="order__review__table">
                                <thead>
                                    <tr>
                                        <th class="table__col__1">Product</th>
                                        <th class="table__col__2">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td class="table__col__1">
                                            {{payment.learner.course}}</td>
                                        <td class="">
                                            <span class=""><bdi><span class="">$</span>{{payment.learner.course.price}} CAD</bdi>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>

                                    <tr class="">
                                        <th class="table__col__1">Subtotal</th>
                                        <td><span class=""><bdi><span class="">$</span>{{payment.learner.course.price}} CAD</bdi>
                                            </span>
                                        </td>
                                    </tr>




                                    <tr class="">
                                        <th class="table__col__1">GST(30%)</th>
                                        <td><span class=""><span class="">$</span>{{payment.learner.vat}} CAD</span>
                                        </td>
                                    </tr>


                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td><strong><span class=""><bdi><span class="">$</span>{{payment.amount}} CAD</bdi></span></strong> </td>
                                    </tr>


                                </tfoot>
                            </table>
                        </div><div id="paypal-button-container"></div>
                    </div>

                </section>
            </article>
        </main>
        {% include 'footer.html' %}
    </main>
    <script src="https://www.paypal.com/sdk/js?client-id=AfT27L4aTCoquD8ujne061DmMts7ulNhRbS-SJWjWB9JXLcb_lOWmh2qqZtH4MaOhXjVlqMk8DKXj3WT&currency=CAD"></script>
    <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                        }
                    }
                }
                console.log(cookieValue)
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
            let total = {{payment.amount}}

            function completeOrder(){
                const student = "{{student.lib_no}}"
                let ref = "{{payment.ref}}"
                const url = "{% url 'course_reg:verify_payment' payment.ref %}"

                fetch(url, {
                method:'POST',
                headers: {
                    'content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'ref':ref})
                })
            }
            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({

    <!--        	style:{-->
    <!--        		color: 'blue',-->
    <!--        		shape: 'rect',-->
    <!--        		label: 'pay',-->
    <!--        		height: 40-->
    <!--        	}-->

                // Set up the transaction
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: total
                            }
                        }]
                    });
                },

                // Finalize the transaction
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(orderData) {
                        // Successful capture! For demo purposes:
                        completeOrder()
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        var transaction = orderData.purchase_units[0].payments.captures[0];
                        alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                        window.location.replace("{% url 'course_reg:payment_completed' %}")
                    });
                }

    <!--            onError: (err) => {-->
    <!--                window.location.replace("{% url 'course_reg:payment_failed' %}")-->
    <!--            }-->


            }).render('#paypal-button-container');
        </script>
{% endblock %}
