{% extends 'main_app.html' %}
{% load static %}
{% block title %}Register Learner{% endblock %}

{% block content %}
<main id="main">
        {% include 'header.html' %}
            <main id="main__body">
            <article class="coorporate__slide__art">
                <section class="cooperate__slide__items"
                         style="background: url({% static 'assets/images/about-banner.jpg'%});">
                    <div class="container cooperate__slide__banner">
                        <h2 class="animates">Course registration</h2>
                        <ul>
                            <li><a href="{% url 'app:home' %}">Home</a>
                            </li>
                            <li>/</li>
                            <li>Course</li>
                            <li>/</li>
                            <li>Intro top Python</li>
                        </ul>
                    </div>
                </section>
            </article>
            <article class="coorporate__training__info">
                <section class="coorporate__training__info__contact container">
                    <div class="course__reg">

                        <form action="" method="post" class="course__reg__form" id="learner-form">
                            {% csrf_token %}
                            <h2>Course Registration Form</h2>
                            <div class="course__reg__form__divs">
                                <div class="form__full__width">
                                    <div class="form__group">
                                        <p>
                                            <label for="">Which course will you like to do?</label>
                                            <br>
                                            <span>
                                                {{form.course}}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form__half__width">
                                    <div class="form__group">
                                        <p>
                                            <label for="">First Name</label>
                                            <br>
                                            <span>
                                                <input type="text" name="first_name" class="course__form__input" placeholder="Enter First Name" required>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form__half__width">
                                    <div class="form__group">
                                        <p>
                                            <label for="">Last Name</label>
                                            <br>
                                            <span>
                                                <input type="text" name="last_name" class="course__form__input" placeholder="Enter Last Name" required>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form__half__width">
                                    <div class="form__group">
                                        <p>
                                            <label for="">Phone Number</label>
                                            <br>
                                            <span>
                                                <input type="tel" name="phone_no" class="course__form__input" placeholder="Enter Phone Number" required>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form__half__width">
                                    <div class="form__group">
                                        <p>
                                            <label for="">Email Address</label>
                                            <br>
                                            <span>
                                                <input type="email" name="email" id="email" class="course__form__input" placeholder="Enter Email Address" required>
                                            </span>
                                            <div class="alert alert-danger" id="em-err" role="alert">nxcmchg</div>
                                        </p>
                                    </div>
                                </div>
                                <div class="form__full__width">
                                    <div class="form__group">
                                        <p>
                                            <label for="">Home Address</label>
                                            <br>
                                            <span>
                                                <input type="text" name="address" class="course__form__input" placeholder="Enter Home Address" required>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form__half__width">
                                    <div class="form__group">
                                        <p>
                                            <label for="">Province or State</label>
                                            <br>
                                            <span>
                                                <input type="text" name="province_state" class="course__form__input" placeholder="Enter Province or State" required>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form__half__width">
                                    <div class="form__group">
                                        <p>
                                            <label for="">City</label>
                                            <br>
                                            <span>
                                                <input type="text" name="city" class="course__form__input" placeholder="Enter City" required>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form__half__width">
                                    <div class="form__group">
                                        <p>
                                            <label for="">Postal or Zipcode</label>
                                            <br>
                                            <span>
                                                <input type="text" name="zip_code" class="course__form__input" placeholder="Enter Postal or Zipcode" required>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="course__submit">
                                    <input type="submit" class="course__submit__btn" id="learner_registration_submit">
                                </div>
                            </div>

                        </form>
                    </div>
                </section>
            </article>
        </main>
<!--        </main>-->
        {% include 'footer.html' %}
    </main>

{% endblock %}
{% include 'validation_js.html' %}
